<style type="text/css">
  body.unstyled header, body.unstyled main, body.unstyled > footer { max-width: 960px; margin: 0 auto; }
  body.unstyled header img { width: 25%; }
  body.unstyled #metanav div div:nth-child(1) { float: left; }
  body.unstyled #metanav div div:nth-child(2) { float: right; }
  body.unstyled #mainnav div div:nth-child(1) { float: left; clear: both; }
  body.unstyled #mainnav div div:nth-child(2) { display: none; }
  body.unstyled #hero, body.unstyled section.sharing { display: none;}
  body.unstyled main article img { width: 100%; }
  body.unstyled main aside img { width: 33%; float: right; margin-left: 1rem; max-width: 250px; }
  body.unstyled > footer section div { width: 48%; float: left; margin-right: 2%; }
  body.unstyled > footer .logo { display: none; }
</style>
