<header>
  <div id="wrapmetanav">
    <nav id="metanav">
      <div>
        <div>
          <a href=""><%= config.textLogo %></a>
          <span>&middot; <%= config.shortDescription %></span>
        </div>
        <div>
          <a href="./" class="hide-not-scrolling <% if(build.identifier === 'index') { %>active<% } %>" rel="index"><%= t('Home') %></a>
          <a href="./archive/" class="hide-not-scrolling <% if(build.identifier === 'archive') { %>active<% } %>"><%= t('Archive') %></a>
          <% collections['header-nav'].map(({slug, title}) => { %>
          <a href="./<%= slug %>/" class="hide-not-scrolling <% if(build.identifier === slug) { %>active<% } %>"><%= title %></a>
          <%}) %>
        </div>
      </div>
    </nav>
  </div>
  <div id="wrapmainnav">
    <nav id="mainnav">
      <div>
        <div>
          <a href="">
            <img src="<%= config.logo %>" alt="<%= config.appName %>" class="logo">
          </a>
        </div>
        <div>
          <a href="./" class="<% if(build.identifier === 'index') { %>active<% } %>" rel="index"><%= t('Home') %></a>
          <a href="./archive/" class="<% if(build.identifier === 'archive') { %>active<% } %>"><%= t('Archive') %></a>
          <% collections['header-nav'].map(({slug, title}) => { %>
          <a href="./<%= slug %>/" class="<% if(build.identifier === slug) { %>active<% } %>"><%= title %></a>
          <%}) %>
        </div>
      </div>
    </nav>
  </div>
</header>
