<!-- Twitter card -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@<%= config.twitter %>"/>
<meta name="twitter:title" content="<%= content.name %>"/>
<meta name="twitter:description" content="<%= t('${name} is writing for ${app}', {name: content.name, app: config.appName}) %>"/>
<meta name="twitter:image" content="https:<%= content.photo.file.url %>?w=1200&amp;h=600&amp;fit=thumb"/>
<!-- Facebook OpenGraph Tags -->
<meta property="og:url" content="<%= page.url %>"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="<%= content.name %>"/>
<meta property="og:description" content="<%= t('${name} is writing for ${app}', {name: content.name, app: config.appName}) %>"/>
<meta property="og:image" content="https:<%= content.photo.file.url %>?w=1200&amp;h=600&amp;fit=thumb"/>
