<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= config.description %>">
<meta name="disqus" content="<%= config.disqus %>">
<meta name="version" content="<%= build.version %>-<%= build.time %>">
<meta name="identifier" content="<%= build.identifier %>">
<link rel="alternate" type="application/rss+xml" title="<%= config.appName %> &raquo; Feed" href="<%= config.webHost %><%= config.baseHref %>feed.xml" />
<link rel="canonical" href="<%= page.url %>">
<link rel="deferred-stylesheet" href="./css/underline.min.css?v=<%= build.version %>-<%= build.time %>"/>
<base href="<%= config.baseHref %>">
