<!doctype html>
<html lang="<%= config.lang %>">
<head>
  <%= include('meta') %>
  <title><%= content.name %> &middot; <%= config.appName %></title>
  <%= include('head-socialmedia-author') %>
  <%= include('critical-styles') %>
</head>
<body class="critical author">
<%= include('header') %>
<main>
  <div>
    <article>
      <header>
        <img src="<%= content.photo.file.url %>?w=250&amp;h=250&amp;fit=thumb" alt="<%= content.name %>">
        <h1>
          <%= content.name %>
        </h1>
      </header>
      <section>
        <%= content.description %>
      </section>
    </article>
    <%= include('aside') %>
  </div>
</main>
<%= include('footer') %>
<%= include('script') %>
</body>
</html>
