<!doctype html>
<html lang="<%= config.lang %>">
<head>
  <%= include('meta') %>
  <title><%= content.title %> &middot; <%= config.appName %></title>
  <%= include('head-socialmedia-page') %>
  <%= include('critical-styles') %>
</head>
<body class="critical article">
<%= include('header') %>
<main>
  <div>
    <article>
      <header>
        <h1>
          <% if (content.subtitle) { %><small><%= content.subtitle %></small> <br><% } %>
          <%= content.title %>
        </h1>
      </header>
      <section>
        <%= content.content %>
      </section>
    </article>
    <%= include('aside') %>
  </div>
</main>
<%= include('footer') %>
<%= include('script') %>
</body>
</html>
