<!doctype html>
<html lang="<%= config.lang %>">
<head>
  <%= include('meta') %>
  <title><%= content.title %> &middot; <%= config.appName %></title>
  <%= include('head-socialmedia-post') %>
  <%= include('critical-styles') %>
</head>
<body class="critical article">
<%= include('header') %>
<main>
  <div>
    <article>
      <header>
        <h1>
          <% if (content.subtitle) { %><small><%= content.subtitle %></small> <br><% } %>
          <%= content.title %>
        </h1>
        <p>
          <small>
            <time datetime="<%= content.publicationDate %>"><%= shortDate(content.publicationDate) %></time>
            <%= t('by') %> <a href="./<%= content.author.slug %>/"><%= content.author.name %></a>
          </small>
        </p>
        <div class="photo">
          <img
            src="<%= content.hero.file.url %>?w=60&amp;h=40&amp;fit=thumb"
            width="600" height="400"
            class="responsive"
            alt="<%= content.subtitle %>: <%= content.title %>">
          <% if (content.hero.description) { %><div class="photocredits"><%= content.hero.description %></div><% } %>
        </div>
      </header>
      <section>
        <%= content.content %>
      </section>
      <footer>
        <section class="sharing">
          <h2><%= t('Share') %></h2>
          <a class="share" href="https://twitter.com/intent/tweet/?text=<%= encodeURIComponent(content.title) %>&amp;url=<%= encodeURIComponent(page.url) %>" target="_blank" aria-label="<%= t('Share on ${platform}', {platform: 'Twitter'}) %>">
            <strong>Twitter</strong>
          </a>

          <div id="hnshare" data-label="<%= t('Share on ${platform}', {platform: 'HackerNews'}) %>"></div>

          <a class="share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<%= encodeURIComponent(page.url) %>&amp;title=<%= encodeURIComponent(content.title) %>&amp;summary=<%= encodeURIComponent(content.abstract) %>&amp;source=<%= encodeURIComponent(page.url) %>" target="_blank" aria-label="<%= t('Share on ${platform}', {platform: 'LinkedIn'}) %>">
            <strong>LinkedIn</strong>
          </a>

          <a class="share" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(page.url) %>" target="_blank" aria-label="<%= t('Share on ${platform}', {platform: 'Facebook'}) %>">
            <strong>Facebook</strong>
          </a>

          <a class="share" href="https://www.xing.com/app/user?op=share;url=<%= encodeURIComponent(page.url) %>;title=<%= encodeURIComponent(content.title) %>" target="_blank" aria-label="<%= t('Share on ${platform}', {platform: 'XING'}) %>">
            <strong>XING</strong>
          </a>
        </section>
        <section class="comments">
          <h2><%= t('Comments') %></h2>
          <div id="disqus_thread"></div>
        </section>
      </footer>
    </article>
    <%= include('aside') %>
  </div>
</main>
<%= include('footer') %>
<%= include('script') %>
</body>
</html>
