@mixin border-bottom() {
  &:after {
    content: ' ';
    border-bottom: 1px solid rgba(theme-color("primary"), 0.5);
    width: 45px;
    display: block;
    margin-bottom: 1rem;
  }
}

body > main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include make-container();
  @include make-container-max-widths();
  > div {
    @include make-row()
  }
  article, aside {
    @include make-col-ready();
    @include make-col(12);
  }
  article {
    margin-bottom: 4rem;
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    h2 {
      @include main-font();
      text-transform: uppercase;
      font-weight: 900;
      @include border-bottom();
      &:after {
        margin-top: 1rem;
      }
    }
    &.preview {
      header {
        position: relative;
        div {
          position: absolute;
          bottom: 1px;
          left: 0;
          padding: 15px;
          background-color: rgba(#fff, 0.85);
          width: 100%;
        }
        img {
          filter: brightness(250%) grayscale(50%) opacity(75%);
        }
      }
    }
    .photo {
      position: relative;
      .photocredits {
        position: absolute;
        bottom: 1rem;
        right: 0;
        font-size: 80%;
        color: #fff;
        background-color: #000;
        opacity: 0.75;
        padding: 0.5rem;
        p {
          margin: 0;
        }
      }
    }
    blockquote {
      padding: 1rem;
      font-family: serif;
      border-left: 5px solid rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.05);
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  aside {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-left: auto !important;
      @include make-col(3);
    }
    footer {
      text-align: right;
    }
  }

  color: rgba(#000, 0.75);
  h1, h2 {
    font-weight: 300;
    small {
      font-weight: 900;
      text-transform: uppercase;
      color: darken(theme-color("primary"), 10);
      font-size: 50%;
    }
  }
  h1 {
    font-size: 175%;
  }
  h2 {
    font-size: 150%;
  }
  header {
    @include border-bottom();
    img {
      margin-bottom: 1rem;
    }
    small {
      opacity: 0.75;
    }
  }
  a {
    color: darken(theme-color("primary"), 10);
  }
  > div {
    header, footer {
      @include make-col(12);
    }
  }
}

body.article > main {
  article {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
}

body.author > main {
  article {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      img {
        width: 50%;
      }
    }
  }
}

body.archive > main {
  article {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
}
